@import "tailwindcss";
@import "leaflet/dist/leaflet.css";

@layer base {
  body {
    background-color: #09090b;
    color: #f4f4f5;
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  }
}

.custom-map-pin {
  background: transparent !important;
  border: none !important;
}

/* Custom Sleek scrollbars */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: #09090b;
}
::-webkit-scrollbar-thumb {
  background: #27272a;
  border-radius: 9999px;
}
::-webkit-scrollbar-thumb:hover {
  background: #3f3f46;
}

